{% load ft_trans_tags %}
<header class="container fixed top-0 left-0 right-0 mx-auto px-8 pt-4 pb-5 rounded-b-xl bg-surface0/75 hover:bg-surface0/90 backdrop-blur-3xl min-h-12 z-10">
	<nav class="flex flex-row justify-between items-center">
		<div id="links" class="flex flex-row gap-8">
			<button
				hx-get="/"
				hx-target="#content"
				hx-swap="innerHTML"
				hx-push-url="/"
				hx-spa-pick="#content"
				preload="mouseover"
				preload-images="true"
				class="btn bg-surface1/75 hover:bg-surface2 active:bg-mantle px-4 rounded-lg"
			>
				<span>
					<i class="inline" data-feather="home"></i>
					{% translate 'button.home' %}
				</span>
			</button>
			<button
				class="btn bg-surface1/75 hover:bg-surface2 rounded-lg px-4 ml-auto"
				hx-get="/register/"
				hx-target="#content"
				hx-swap="innerHTML"
				hx-push-url="/register/"
				preload="mouseover"
				preload-images="true"
				hx-spa-pick="#content"
			>
				<span>
					<i class="inline" data-feather="user-plus"></i>
					{% translate 'button.register' %}
				</span>
			</button>
			<button
				class="btn bg-surface1/75 hover:bg-surface2 rounded-lg px-4 ml-auto"
				hx-get="/login/"
				hx-target="#content"
				hx-swap="innerHTML"
				hx-push-url="/login/"
				preload="mouseover"
				preload-images="true"
				hx-spa-pick="#content"
			>
				<span>
					<i class="inline" data-feather="log-in"></i>
					{% translate 'button.login' %}
				</span>
			</button>
		</div>
		<div id="games">
			<div class="group relative">
				<button class="btn bg-surface1/75 hover:bg-surface2 rounded-lg px-4 right-0 w-full">
					<span>
						<i class="inline" data-feather="chevron-down"></i>
						{% translate 'button.select' %}
					</span>
				</button>
				<div class="invisible group-hover:visible absolute flex flex-col rounded-lg overflow-hidden w-full">
					<button
					class="btn bg-surface1/90 hover:bg-surface2 rounded-none px-4 ml-auto w-full"
					hx-get="/games/pong/"
					hx-target="#content"
					hx-swap="innerHTML"
					hx-push-url="/games/pong/"
					preload="mouseover"
					preload-images="true"
					hx-spa-pick="#content"
					>
						<span>
							<i class="inline" data-feather="home"></i>
							{% translate 'gamemode_cards.pong_offline.title' %}
						</span>
					</button>
					<button
					class="btn bg-surface1/90 hover:bg-surface2 rounded-none px-4 ml-auto w-full"
					hx-get="/games/pong-tournament/"
					hx-target="#content"
					hx-swap="innerHTML"
					hx-push-url="/games/pong-tournament/"
					preload="mouseover"
					preload-images="true"
					hx-spa-pick="#content"
					>
						<span>
							<i class="inline" data-feather="home"></i>
							{% translate 'gamemode_cards.pong_tournament.title' %}
						</span>
					</button>
					<button
					class="btn bg-surface1/90 hover:bg-surface2 rounded-none px-4 ml-auto w-full"
					hx-get="/games/pong-crazy/"
					hx-target="#content"
					hx-swap="innerHTML"
					hx-push-url="/games/pong-crazy/"
					preload="mouseover"
					preload-images="true"
					hx-spa-pick="#content"
					>
						<span>
							<i class="inline" data-feather="home"></i>
							{% translate 'gamemode_cards.pong_crazy.title' %}
						</span>
					</button>
				</div>
			</div>
		</div>
		<div id="customize" class="flex flex-row gap-8">
			<button id="change-theme-button" onclick="toggleTheme()" class="btn bg-surface1/75 hover:bg-surface2 active:bg-mantle px-4 rounded-lg"><i class="inline" data-feather="edit-3"></i>{% translate 'button.theme' %} </button>
			<select class="btn bg-surface1/75 hover:bg-surface2 rounded-lg px-4 right-0" onchange="change_lang(value)">
				{% for i in languages %}
					{% if i.0 == lang %}
						<option value='{{ i.0 }}' selected=true>{{i.1}}</option>
					{% else %}
						<option value='{{ i.0 }}'>{{i.1}}</option>
					{% endif %}
				{% endfor %}
			</select>
		</div>
	</nav>
</header>