<!DOCTYPE html>
<html lang="{{ lang }}" class="scroll-smooth">
	<head>
		<meta charset="utf-8">
		<!-- User scalability is set to none so that it feels more like a native app on mobile -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<!-- SEO stuff -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="author" content="ft_trans">
		<meta name="robots" content="index, follow">
		<meta name="googlebot" content="index, follow">
		<meta name="google" content="index, follow">

		<!-- Common stuff -->
		<link rel="icon" href="/assets/img/logo.webp" type="image/icon"/>
		<link rel="stylesheet" href="/shared.css">
		<link rel="stylesheet" href="chat/chat.css">
		<title>{{ title }} &mdash; {{ website_title }}</title>
		<script defer type="module" src="/shared.js"></script>
		<script defer type="module" src="/chat/chat.js"></script>
	</head>

	<body class="p-0 m-0 w-full bg-base font-sans text-text contextual [&_*]:transition-colors [&_*]:duration-300" hx-ext="spa-tools, preload">
		{% load ft_trans_tags %}
		<noscript>
			<div class="flex justify-center items-center w-full h-svh">
				<div class="w-full max-w-md">
					<h1 class="text-2xl font-bold">{% translate 'error.javascript_required.title' %}</h1>
					<p class="text-lg">{% translate 'error.javascript_required.desc' %}</p>
				</div>
			</div>
		</noscript>
		{% include "__navbar.html" %}
		{% include "__chat.html" %}
		<main id="content">
			<div class="flex justify-center items-center flex-col space-y-[5vh] bg-placeholder-pattern bg-auto bg-fixed min-h-svh">
				<section id="player-list-section" class="pt-14 min-h-svh flex justify-start m-10 flex-col space-y-[5vh] min-w-40">
					<form id="add-player-form">
						<input type="text" id="player-name-input" name="player-name" placeholder="{% translate 'placeholders.add_player' %}" class="btn bg-base">
						<button type="submit" class="btn bg-surface1/75 hover:bg-surface2 active:bg-mantle px-4 rounded-lg">{% translate 'button.add_player' %}</button>
						<button type="button" onclick="startTournament()" class="btn bg-surface2">{% translate 'button.start_tournament' %}</button>
					</form>
					<div class="bg-base min-w-40" id="player-list"></div>
				</section>
				
				<section id="game" class="min-h-full flex justify-between items-center flex-col space-y-[3vh] p-10">
					<div class="overflow-scroll flex items-center justify-center bg-base text-[10vh] text-text font-mono h-[20vh] aspect-[5/2] rounded-xl ">
						<span id="score-player1">000</span> - <span id="score-player2">000</span>
					</div>
					<canvas id="gameField" width="1920" height="1920" style="height: 60vh; width: 60vh;" class="bg-crust text-text rounded-xl p-[1vh]">
						{% translate 'error.html5_required' %}
					</canvas>
				</section>
			</div>
			<script type="module" src="./pong-tournament-init.js"></script>
		</main>
	</body>
</html>
