<!DOCTYPE html>
<html lang="{{ lang }}" class="scroll-smooth">
	<head>
		<meta charset="utf-8">
		<!-- User scalability is set to none so that it feels more like a native app on mobile -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<!-- SEO stuff -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="author" content="ft_trans">
		<meta name="robots" content="index, follow">
		<meta name="googlebot" content="index, follow">
		<meta name="google" content="index, follow">

		<!-- Common stuff -->
		<link rel="icon" href="/assets/img/logo.webp" type="image/icon"/>
		<link rel="stylesheet" href="/shared.css">
		<title>{{ title }} &mdash; {{ website_title }}</title>
		<script defer type="module" src="/shared.js"></script>
		<script defer type="module" src="/chat/chat.js"></script>
	</head>

	<body class="p-0 m-0 w-full bg-base font-sans text-text contextual [&_*]:transition-colors [&_*]:duration-300" hx-ext="spa-tools, preload">
		{% load ft_trans_tags %}
		<noscript>
			<div class="flex justify-center items-center w-full h-svh">
				<div class="w-full max-w-md">
					<h1 class="text-2xl font-bold">{% translate 'error.javascript_required.title' %}</h1>
					<p class="text-lg">{% translate 'error.javascript_required.desc' %}</p>
				</div>
			</div>
		</noscript>
		{% include "__navbar.html" %}
		{% include "__chat.html" %}
		<main id="content">
			<div class="flex justify-center items-center flex-col space-y-[5vh] bg-placeholder-pattern bg-auto bg-fixed min-h-svh">
				<section id="parameters" class="min-h-svh min-w-[50%] flex flex-col justify-center space-y-5">
					<div id="player-parameters" class="flex flex-row justify-between">
						<div id="player1" class="flex flex-col justify-evenly">
							<input type="text" id="player1-name" class="btn bg-surface1/75 focus:bg-surface2 active:bg-mantle rounded-lg text-text" placeholder="{% translate 'button.player_name' %}" value="player1">
							<label class="inline-flex items-center justify-center cursor-pointer space-x-4 space-y-2">
								<input type="checkbox" id="player1-switch" value="" class="sr-only peer">
								<div class="relative w-11 h-6 bg-base rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-surface2 after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-sapphire"></div>
								<span class="text-text">{% translate 'button.isAI' %}</span>
							</label>
						</div>
						<div id="player1" class="flex flex-col">
							<input type="text" id="player2-name" class="btn bg-surface1/75 focus:bg-surface2 active:bg-mantle rounded-lg text-text" placeholder="{% translate 'button.player_name' %}" value="player2">
							<label class="inline-flex items-center justify-center cursor-pointer space-x-4 space-y-2">
								<input type="checkbox" id="player2-switch" value="" class="sr-only peer">
								<div class="relative w-11 h-6 bg-base rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-surface2 after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-sapphire"></div>
								<span class="text-text">{% translate 'button.isAI' %}</span>
							</label>
						</div>
					</div>
					<input id="score-selector" type="number" min="0" class="btn bg-surface1/75 hover:bg-surface2 active:bg-mantle rounded-lg text-text w-fit self-center" placeholder="{% translate 'button.score_to_win' %}" value="0">
					<button id="start-game-button" class="btn bg-surface1/75 hover:bg-surface2 active:bg-mantle rounded-lg text-text w-fit self-center">{% translate 'button.start_match' %}</button>
				</section>
				<section id="game" class="min-h-full flex flex-col justify-evenly p-2">
					<div id="buttons" class="flex justify-evenly p-5">
						<button id="view-button" class="btn bg-surface1/75 hover:bg-surface2 active:bg-mantle rounded-lg text-text"><i class="inline" data-feather="box"></i>{% translate 'button.view' %}</button>
						<button id="stop-game-button" class="btn bg-surface1/75 hover:bg-surface2 active:bg-mantle rounded-lg text-text">{% translate 'button.stop_match' %}</button>
					</div>
					<div class="flex justify-between items-center flex-col justify-self-center space-y-[3vh]">
						<div class="overflow-scroll flex flex-col items-center justify-center bg-base text-text font-mono h-[20vh] aspect-[5/2] rounded-xl">
							<div class="flex items-center justify-center text-[10vh] font-bold">
								<span id="score-player1">000</span> - <span id="score-player2">000</span>
							</div>
							<div class="flex items-center justify-center text-[3vh] text-subtext1">
								<span id="name-player1">Player 1</span> - <span id="name-player2">Player 2</span>
							</div>
						</div>
						<canvas id="gameField" style="height: 60vh; width: 60vh;" class="bg-crust text-text rounded-xl p-[1vh]">
							{% translate 'error.html5_required' %}
						</canvas>
					</div>
				</section>
			</div>
			<script defer type="module" src="./pong.js"></script>
		</main>		
	</body>
</html>
