<!DOCTYPE html>
<html lang="{{ lang }}" class="scroll-smooth">
	<head>
		<meta charset="utf-8">
		<!-- User scalability is set to none so that it feels more like a native app on mobile -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<!-- SEO stuff -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="author" content="ft_trans">
		<meta name="robots" content="index, follow">
		<meta name="googlebot" content="index, follow">
		<meta name="google" content="index, follow">

		<!-- Common stuff -->
		<link rel="icon" href="/assets/img/logo.webp" type="image/icon"/>
		<link rel="stylesheet" href="/shared.css">
		<title>{{ title }} &mdash; {{ website_title }}</title>
		<script defer type="module" src="/shared.js"></script>
        <script defer type="module" src="test.js"></script>
	</head>

	<body class="p-0 m-0 w-full bg-base font-sans text-text contextual [&_*]:transition-colors [&_*]:duration-300" hx-ext="spa-tools, preload">
		{% load ft_trans_tags %}
		<noscript>
			<div class="flex justify-center items-center w-full h-svh">
				<div class="w-full max-w-md">
					<h1 class="text-2xl font-bold">{% translate 'error.javascript_required.title' %}</h1>
					<p class="text-lg">{% translate 'error.javascript_required.desc' %}</p>
				</div>
			</div>
		</noscript>
		{% include "__navbar.html" %}
		{% include "__chat.html" %}
		<main id="content">
			<h1>Hello World</h1>
		</main>
	</body>
</html>
