<!DOCTYPE html>
<html lang="{{ lang }}" class="scroll-smooth">
	<head>
		<meta charset="utf-8">
		<!-- User scalability is set to none so that it feels more like a native app on mobile -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<!-- SEO stuff -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="author" content="ft_trans">
		<meta name="robots" content="index, follow">
		<meta name="googlebot" content="index, follow">
		<meta name="google" content="index, follow">

		<!-- Common stuff -->
		<link rel="icon" href="/assets/img/logo.webp" type="image/icon"/>
		<link rel="stylesheet" href="/shared.css">
		<title>{{ title }} &mdash; {{ website_title }}</title>
		<script defer type="module" src="/shared.js"></script>
	</head>

	<body class="p-0 m-0 w-full bg-base font-sans text-text contextual [&_*]:transition-colors [&_*]:duration-300" hx-ext="spa-tools, preload">
		{% load ft_trans_tags %}
		<noscript>
			<div class="flex justify-center items-center w-full h-svh">
				<div class="w-full max-w-md">
					<h1 class="text-2xl font-bold">{% translate 'error.javascript_required.title' %}</h1>
					<p class="text-lg">{% translate 'error.javascript_required.desc' %}</p>
				</div>
			</div>
		</noscript>
		{% include "__navbar.html" %}
		<main id="content">
			<div class="flex justify-between items-center flex-col space-y-[3vh] p-10 bg-placeholder-pattern bg-auto bg-fixed min-h-svh">
				<div class="overflow-scroll flex items-center justify-center bg-base text-[10vh] text-text font-mono h-[20vh] aspect-[5/2] rounded-xl ">
					<span id="score-player">000</span> - <span id="score-opponent">000</span>
				</div>
				<canvas id="gameField" width="1920" height="1920" style="height: 70vh; width: 70vh;" class="bg-crust text-text rounded-xl p-[1vh]">
					{% translate 'error.html5_required' %}
				</canvas>
			</div>
			<script defer type="module" src="./pong.js"></script>
		</main>		
	</body>
</html>
